h2 {
    text-align: center;
    padding: 5%;
}

.pokemon-list-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    
}

.list-section {
    padding-top: 10px;
    outline: solid 2px red;
    display: flex;
    justify-content: center;
}